@primary-blue: rgb(60, 153, 252);
@link-blue: rgb(3, 109, 170);
@mid-blue: rgb(52, 152, 219);
@light-yellow: rgb(255, 253, 205);
@beige: rgb(226, 220, 197);
@dark-green: rgb(53, 103, 46);
@brown: rgb(97, 81, 50);
@olive: rgb(116, 141, 54);
@dark-blue: rgb(0, 51, 102);
@red: rgb(191, 54, 34);
@orange: rgb(255, 163, 55);
@teal: rgb(0, 99, 106);
@light-olive: rgb(149, 168, 101);
@admin-table-border: rgb(203, 196, 167);
@dark-yellow: rgb(226, 222, 139);
@beige-two: rgb(211, 204, 176);
@beige-three: rgb(199, 195, 179);
@cream: rgb(242,240,231);
@off-white: rgb(255,253,247);

// greyscale
@black: rgb(0, 0, 0);
@dark-grey: rgb(51, 51, 51);
@grey: rgb(102, 102, 102);
@light-grey: rgb(153, 153, 153);
@mid-grey: rgb(204, 204, 204);
@lighter-grey: rgb(221, 221, 221);
@lightest-grey: rgb(238, 238, 238);
@white: rgb(255, 255, 255);

// book cover carousel component
@book-cover-carousel-background: rgb(243, 237, 215);
@book-cover-carousel-border-top: rgb(235, 232, 216);
@book-cover-carousel-border-bottom: rgb(229, 225, 204);

// book cover
@book-cover-shadow-color: rgb(195, 182, 131);

// nagios
@nagios-grey: rgb(172, 172, 172);
@nagios-green: rgb(51, 255, 0);
@nagios-orange: rgb(255, 153, 0);
@nagios-yellow: rgb(255, 255, 0);
@nagios-red: rgb(248, 56, 56);

// flickr brand
@flickr-brand-blue: #3993ff;